{% extends 'AdminBundle::admin.html.twig' %}

{% block header %}
    Отчет о генерации
{% endblock %}

{% block title %}Отчет о генерцаии :: {{ parent() }}{% endblock %}

{% block body %}
    {% for notification in report.notifications %}
        <div class="alert alert-danger">{{ notification }}</div>
    {% endfor %}
    <table class="table table-responsive table-bordered table-hover table-striped">
        {% if report.data | length %}
            <thead>
            <tr>
                {% for  key in report.data[0] | keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for row in report.data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

