{% extends theme.layout('base') %}

{% block title %}Создать команду :: {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="page-header">Создать команду</h1>
    {{ form(form) }}
{% endblock %}
