*.phar

var/
!var/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep

vendor/
bin/
!bin/console
build/
target/
storage/

web/images
web/bundles
web/css
web/js
web/uploads
web/less
web/fonts
web/lib
web/assetic

web/_index.html
web/index.html

app/cache
app/logs
app/sessions

app/config/parameters.yml
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/check.php
