{% extends 'AdminBundle::admin.html.twig' %}

{% block title %}
    Создать поле :: Поля
{% endblock %}

{% block header %}
    <a href="{{ path('storable_forms_field_list') }}">Поля</a> &mdash; Создать поле
    <small>{{ type }}</small>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
