{% extends 'NemesisAdminBundle::admin.html.twig' %}

{% block title %}Теггирование команд :: Утилиты :: {{ parent() }}{% endblock %}

{% block header %}
    <a href="{{ path('site_admin_utils_tag_list') }}">Теги</a> &mdash;
    Теггирование команд
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
