parameters:
    database_driver: pdo_sqlite
    database_host: null
    database_port: null
    database_name: null
    database_user: null
    database_password: null
    database_path: var/nemesis.db
    mailer_transport: mail
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: ru
    secret: NemesisDefaultCSRFTokenChangeThisPlease
    photo_path: uploads/avatars/
    ckeditor_uploads: uploads/ckeditor/
    maintenance_url: [localhost]
    admin_usernames: []
