{% extends 'AdminBundle::admin.html.twig' %}

{% block title %}Обзор :: {{ parent() }}{% endblock %}

{% block header %}Обзор{% endblock %}

{% import 'CMSBundle::macros.html.twig' as macros %}

{% block body %}
    <div class="row">

    </div>
{% endblock %}
