{% extends theme.layout('base') %}

{% block body %}
    <h1 class="page-header">Регистрация</h1>
    <p>Вы успешно прошли процесс заполнения регистрационной анкеты. Вам на почту отправлено сообщение со ссылкой, по
        которой необходимо пройти для активации вашей учётной записи. Если сообщение не будет получено в течение трех
        часов – обратитесь к организаторам. E-mail: <a
                href='mailto:{{ site_manager.site.contactEmail }}'>{{ site_manager.site.contactEmail }}</a>
    </p>
    <p>Не забудь поделиться информацией о проекте со своими друзьями и коллегами – возможно, среди них вы найдете
        единомышленников в команду!</p>
{% endblock %}
