{% extends theme.layout('base') %}

{% block body %}
    <h1>Успешная активация аккаунта</h1>
    <p>
        Вы успешно активировали вашу учётную запись и теперь можете авторизоваться на сайте, используя свой логин
        (E-mail) и пароль, указанный при регистрации.
    </p>
{% endblock %}
