# Cache and logs
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
app/config/parameters.yml

# Managed by Composer
composer.lock
/app/bootstrap.php.cache
bin/
vendor/

# Assets and user uploads
web/bundles/
web/uploads/
web/css/
web/images/
web/js/
web/less/

.idea/
build/
target/


*.phar
