{% extends 'NemesisCoreBundle:Preferences:preferences_layout.html.twig' %}

{% block title %}Дополнительная информация :: {{ parent() }}{% endblock %}

{% block preferences_body %}
    <h1 class="page-header">Дополнительная информация</h1>
    {{ form(form) }}
{% endblock %}
